// MULTIPLES PROPIEDADES QUE SE USAN A LA VEZ
%display{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

%colorFont{
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
}