$subsFormat:(
    alineado: center,
    tamano: 2rem,     
    margen: 3rem auto 1rem auto,
);

$subsXSFormat:(
    tamano2: large,
    bg-col: transparent,     
    margen2: 3rem 11rem 1rem 11rem, 
);

