$color1: black;
$letra1: arial;

// COLORES
$color-principal: rgb(32, 153, 123) ;
$color-secundario: rgb(221, 236, 79);

// Mixin Propiedades -txtDefalt, txtTabla
$bgColorX: transparent;
$alinearX: justify;     
$margenX: 2rem 0 2rem 11rem; 

// MIXIN Estilo a
$decoX: none;
$padX: 10px 0;
$dispX: inline-block;